# Environnement virtuel
env/
venv/

#variables d'environnement
.env

# Ignorer le dossier scripts
scripts

# Ignorer le dossier donnees/factures/raw
donnees/factures_raw

# Ignorer le fichier donnees/factures/factures_processed/factures_combined.csv
donnees/factures_processed/factures_combined.csv

# Ignorer le fichier cookies.json
donnees/cookies.json

# Fichiers compilés Python
__pycache__/
*.py[cod]
*.so

# Cache Jupyter/Streamlit
.ipynb_checkpoints/
.streamlit/

# Fichiers de log/temp
*.log
*.tmp

# VS Code config
.vscode/

# Mac/Linux
.DS_Store

# Windows
Thumbs.db

