# Environnement virtuel
env/
venv/

# Ignorer le dossier factures
donnees/factures/

# Ignorer le fichier cookies.json
donnees/cookies.json

# Fichiers compilés Python
__pycache__/
*.py[cod]
*.so

# Cache Jupyter/Streamlit
.ipynb_checkpoints/
.streamlit/

# Fichiers de log/temp
*.log
*.tmp

# VS Code config
.vscode/

# Mac/Linux
.DS_Store

# Windows
Thumbs.db
